<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="com.jh.s4.board.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.jh.s4.board.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.jh.s4.util.Pager" alias="Pager"/>
  		<typeAlias type="com.jh.s4.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.jh.s4.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.jh.s4.memberUser.MemberUserDTO" alias="MemberUserDTO"/>
  	</typeAliases>
  
  
  
  
  </configuration>