<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="com.jh.s4.board.notice.NoticeDAO">



	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		select * From
		(select rownum R, N.* from
		(SELECT * FROM board where 
		<choose>
			<when test="kind =='tt'">
				title
			</when>
			<when test="kind =='wr'">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		 like '%'||#{search}||'%' order by num desc) N) 
		where R between #{startRow} and #{lastRow}
	</select>


	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from board
		where
		<choose>
			<when test="kind == 'tt'">
				title
			</when>
			<when test="kind == 'wr'">
				writer
			</when>
			<otherwise>
				contents
			</otherwise>
		</choose>
		like '%'||#{search}||'%'
	</select>
	
	
	
	
		<insert id="setInsert" parameterType="NoticeDTO">
		insert into board values(notice.nextval, #{title}, #{writer}, #{contents}, sysdate, 0)
	</insert>

	
	 <select id="getOne" parameterType="NoticeDTO" resultType="NoticeDTO">
      select * from board where num = #{num}
   </select>


	<update id="setUpdate" parameterType="NoticeDTO">
		update board set title=#{title}, contents=#{contents} where num=#{num}
	
	</update>


	<delete id="setDelete" parameterType="NoticeDTO">
		delete board where num= #{num}
	
	</delete>




</mapper>